%abc {
  .circle-wrapper {
    height: 300px;
    width: 300px;
  }
  .circle-1 {
    width: 100px;
    height: 100px;
  }
  .circle-2 {
    width: 200px;
    height: 200px;
  }
  .circle-3 {
    width: 300px;
    height: 300px;
  }
  .icons {
    a.circle-1:nth-of-type(1) {
      left: 185px;
    }
    a.circle-1:nth-of-type(2) {
      right: 191px;
    }
    a.circle-2:nth-of-type(1) {
      left: 75px;
      bottom: 72px;
    }
    a.circle-2:nth-of-type(2) {
      right: 70px;
      bottom: 72px;
    }
    a.circle-2:nth-of-type(3) {
      top: 45px;
      left: 140px;
    }
    a.circle-3:nth-of-type(1) {
      left: 146px;
      bottom: 0px;
    }
    a.circle-3:nth-of-type(2) {
      right: 5px;
      bottom: 108px;
    }
    a.circle-3:nth-of-type(3) {
      bottom: 108px;
      left: 2px;
    }
    a.circle-3:nth-of-type(4) {
      top: 30px;
      left: 44px;
    }
    a.circle-3:nth-of-type(5) {
      top: 30px;
      right: 44px;
    }
  }
}
#skills-section {
  .skills-container {
    .skills-diagram {
      @media screen and (min-width: 577px) and (max-width: 767px) {
        div.circle-wrapper {
          height: 300px;
          width: 300px;
        }
        div.circle-1 {
          width: 100px;
          height: 100px;
        }
        div.circle-2 {
          width: 200px;
          height: 200px;
        }
        div.circle-3 {
          width: 300px;
          height: 300px;
        }
        .icons {
          svg {
            width: 2.7em;
            height: 2.7  em;
          }
          a.circle-1:nth-of-type(1) {
            left: 185px;
          }
          a.circle-1:nth-of-type(2) {
            right: 191px;
          }
          a.circle-2:nth-of-type(1) {
            left: 75px;
            bottom: 72px;
          }
          a.circle-2:nth-of-type(2) {
            right: 70px;
            bottom: 72px;
          }
          a.circle-2:nth-of-type(3) {
            top: 45px;
            left: 140px;
          }
          a.circle-3:nth-of-type(1) {
            left: 146px;
            bottom: 0px;
          }
          a.circle-3:nth-of-type(2) {
            right: 5px;
            bottom: 108px;
          }
          a.circle-3:nth-of-type(3) {
            bottom: 108px;
            left: 2px;
          }
          a.circle-3:nth-of-type(4) {
            top: 30px;
            left: 44px;
          }
          a.circle-3:nth-of-type(5) {
            top: 30px;
            right: 44px;
          }
        }
      }

      @media screen and (max-width: 420px) {
        div.circle-wrapper {
          height: 300px;
          width: 300px;
        }
        div.circle-1 {
          width: 100px;
          height: 100px;
        }
        div.circle-2 {
          width: 200px;
          height: 200px;
        }
        div.circle-3 {
          width: 300px;
          height: 300px;
        }
        .icons {
          svg {
            width: 2.5em;
            height: 2.5em;
          }

          a.circle-1:nth-of-type(1) {
            left: 185px;
          }
          a.circle-1:nth-of-type(2) {
            right: 191px;
          }
          a.circle-2:nth-of-type(1) {
            left: 75px;
            bottom: 72px;
          }
          a.circle-2:nth-of-type(2) {
            right: 70px;
            bottom: 72px;
          }
          a.circle-2:nth-of-type(3) {
            top: 45px;
            left: 140px;
          }
          a.circle-3:nth-of-type(1) {
            left: 146px;
            bottom: 0px;
          }
          a.circle-3:nth-of-type(2) {
            right: 5px;
            bottom: 108px;
          }
          a.circle-3:nth-of-type(3) {
            bottom: 108px;
            left: 2px;
          }
          a.circle-3:nth-of-type(4) {
            top: 30px;
            left: 44px;
          }
          a.circle-3:nth-of-type(5) {
            top: 30px;
            right: 44px;
          }
        }
      }
    }
  }
}
