#aboutMe-section {
  // overflow-x: hidden;
  .aboutMe-container {
    max-width: 1300px;
    margin: auto;
    .aboutMe {
      &__heading {
        h1 {
          font-weight: 1000;
          color: #5b86ffdb;
        }
      }
      &__details {
        color: #d9e8ff;
        p {
          span {
            color: #5b86ff !important;
          }
        }
      }
      &__cv {
        padding: 15px 15px;
        margin-bottom: 15px;
        a {
          transition: background-color 0.5s;
          font-weight: 1000;
          font-size: 15px;
          border: 1px solid #ff5722e6;
          background-color: transparent;
          padding: 15px;
          border-radius: 10px;
          transition: color 0.5s;
          color: #ff5722e6 !important;
          text-decoration: none;
        }
        a:hover {
          transition: background-color 0.5s;
          background-color: #ff5722b8;
          transition: color 0.5s, font-weight 0.5s;
          color: black !important;
        }
      }
    }
  }
}

// mobile styles
@media screen and (max-width: 767px) {
  #aboutMe-section {
    .aboutMe-container {
      padding: 60px 15px 25px 15px;
      text-align: center;
      .aboutMe {
        &__heading {
          padding-top: 20px;
          h1 {
            font-size: 30px;
            font-weight: 1000;
            color: lightblue !important;
          }
        }
        &__profImg {
          padding: 15px 15px !important;
          img {
            max-width: 200px;
            width: 100%;
            image-orientation: from-image !important;
          }
        }
        &__details {
          text-align: justify !important;
          font-size: 17px !important;
          p {
            font-size: 17px !important;
          }
        }
        &__socialMediaLinks {
          > a {
            color: #ffffff;
            font-size: 30px;
            margin: 0px 12px;
            font-size: 30px;
          }
        }
        &__cv,
        &__socialMediaLinks {
          text-align: center !important;
        }
      }
    }
  }
}

// desktop styles
@media screen and (min-width: 768px) {
  #aboutMe-section {
    padding-bottom: 25px;
    .aboutMe-container {
      padding: 80px 0px 25px 0px;
      .aboutMe {
        &__heading {
          h1 {
            font-size: 30px;
            margin-bottom: 40px;
          }
        }
        &__profImg {
          padding: 15px 15px !important;
          img {
            margin: -1px 5px;
            max-width: 260px;
            width: 100%;
            image-orientation: from-image !important;
          }
        }
        &__details {
          text-align: justify !important;
          padding: 15px 60px 15px 15px !important;
          h4 {
            font-size: 23px !important;
            margin: 0px;
            padding-bottom: 15px;
          }
          p {
            margin: 0px;
            padding-bottom: 15px;
            font-size: 17px !important;
          }
        }
        &__socialMediaLinks {
          > a {
            color: #ffffff;
            font-size: 30px;
            margin: 0px 12px;
            font-size: 30px;
          }
        }
      }
    }
  }
}
