.resume-container {
    color: #3C4858;
    font-family: "Roboto Slab", "Times New Roman", serif;
    max-width: 1300px;
    margin: auto;
    .resume-heading {
        text-align: center;
        font-weight: bold;
    }
    .resume-img > img{
        width: 100%
    }
}