@import "skillsCircleSmall";
// common styles
#skills-section {
  // overflow-x: hidden;
  #skillsOpacity {
    position: absolute;
    width: 100%;
    background: #00000063;
  }
  .skills-container {
    max-width: 1300px;
    margin: auto;
  }
  .skills-heading {
    height: fit-content;
    h1 {
      font-weight: 1000;
      font-size: 30px;
      color: #ff5722;
    }
  }
  .skills-category {
    color: #2196f3;
    h3 {
      font-weight: bold;
      color: #ff5722;
    }
    ul {
      list-style: none;
      li {
        background: #ffffff17;
        border-radius: 15px;
      }
    }
  }

  .skills-diagram {
    div.circle-wrapper {
      position: relative;
      height: 400px;
      width: 400px;
      margin: 0px auto;
    }
    div.circle {
      position: absolute;
      padding: 0;
      background: #cacaca0d;
      border: 1px solid rgba(100, 100, 100, 0.1);
      border-radius: 50%;
      z-index: 2;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    div.circle-1 {
      width: 100px;
      height: 100px;
    }
    div.circle-2 {
      width: 250px;
      height: 250px;
    }
    div.circle-3 {
      width: 400px;
      height: 400px;
    }
    .icons {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 3;
      svg {
        width: 3em;
        height: 3em;
      }
      svg:hover {
        transform: rotate(360deg);
        transition: 1s transform;
      }
      svg:focus {
        outline: -webkit-focus-ring-color auto 1px;
      }
      .icon-react {
        width: 4em;
        height: 4em;
      }
      a {
        cursor: pointer;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        margin: -1.5em;
        border-radius: 50%;
        background-color: #ffffff2b;
        padding: 1px;
        box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
          0 8px 16px -8px rgba(0, 0, 0, 0.3),
          0 -6px 16px -6px rgba(0, 0, 0, 0.025);
      }
      a.circle-1 {
        width: 4.5em;
        height: 4.5em;
      }
      a.circle-2 {
        width: 4.5em;
        height: 4.5em;
      }
      a.circle-3 {
        width: 4.5em;
        height: 4.5em;
      }
      a.circle-1:nth-of-type(1) {
        left: 154px;
        right: auto;
      }
      a.circle-1:nth-of-type(2) {
        right: 154px;
        left: auto;
      }
      a.circle-2:nth-of-type(1) {
        left: 124px;
        right: auto;
        top: auto;
        bottom: 99px;
      }
      a.circle-2:nth-of-type(2) {
        right: 124px;
        left: auto;
        top: auto;
        bottom: 99px;
      }
      a.circle-2:nth-of-type(3) {
        top: 74px;
        left: 192px;
        right: auto;
      }
      a.circle-3:nth-of-type(1) {
        left: 197px;
        right: auto;
        top: auto;
        bottom: 0px;
      }
      a.circle-3:nth-of-type(2) {
        right: 5px;
        left: auto;
        top: auto;
        bottom: 142px;
      }
      a.circle-3:nth-of-type(3) {
        top: auto;
        bottom: 142px;
        left: 5px;
        right: auto;
      }
      a.circle-3:nth-of-type(4) {
        top: 65px;
        bottom: auto;
        left: 44px;
        right: auto;
      }
      a.circle-3:nth-of-type(5) {
        top: 65px;
        bottom: auto;
        right: 44px;
        left: auto;
      }
    }
  }
}

// mobile styles
@media screen and (max-width: 767px) {
  #skills-section {
    background-size: cover;
    .skills-bgImg > img {
      transform: rotate(90deg);
      margin-left: -56em;
      margin-top: 56em;
      video {
        height: 880px;
        margin-top: -114px;
      }
    }
    .skills-container {
      padding: 80px 15px 20px 15px;
      min-height: 100%;
      background-size: cover;
      background-position: 50% 0;
      .skills-heading {
        margin-bottom: 10px;
        h1 {
          font-size: 30px;
        }
      }
      .skills-category {
        margin: 10px 0px;
        ul {
          height: 100%;
          li {
            display: inline-table;
            margin: 5px;
            padding: 10px;
            width: 28%;
            height: 144px;
            svg {
              width: 75px;
            }
            p {
              margin: 0px !important;
            }
          }
        }
      }
      .skills-diagram {
        .circle-wrapper {
          // zoom: 70%;
          
        }
      }
      .skillBar-container {
        zoom: 80% !important;
      }
      .skills-details {
        &__division {
          margin: 5px 0px;
          display: inline-table;
          span {
            font-size: 11px !important;
            margin: 2px !important;
          }
        }
      }
    }
  }
  @media screen and (min-width: 421px) and (max-width: 576px) {
    #skills-section {
      .skills-container {
        padding: 60px 15px 20px 15px !important;
        > div {
          margin: 20px 0px;
        }
        .skills-diagram {
          .circle-wrapper {
            // zoom: 100% !important;
          }
        }
        .skills-category {
          margin: 10px 0px;
          ul {
            height: 100%;
            li {
              margin: 12px 5px !important;
              svg {
                width: 75px;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 420px) {
    #skills-section {
      .skills-container {
        padding: 60px 15px 20px 15px !important;
        > div {
          margin: 20px 0px;
        }
     

        .skills-category {
          margin: 10px 0px;
          ul {
            height: 100%;
            li {
              margin: 7px 0px !important;
              width: 100% !important;
              svg {
                width: 75px;
              }
            }
          }
        }
      }
    }
  }
}

// desktop styles
@media screen and (min-width: 768px) {
  #skills-section {
    height: 755px;
    max-height: 900px;
    overflow: hidden;

    .skills-container {
      padding: 80px 15px 20px 15px;
      min-height: 100%;
      background-size: cover;
      background-position: 50% 0;
      .skills-heading {
        margin-bottom: 10px;
        h1 {
          font-size: 30px;
        }
      }
      .skills-category {
        ul {
          height: 100%;
          li {
            margin: 12px 35px;
            svg {
              width: 75px;
            }
          }
        }
      }

      .skills-details {
        margin: 15px 0px;
        font-size: 16px;
        &__division {
          display: inline-table;
          span {
            color: black !important;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1100px) and (max-width: 1200px) {
    #skills-section {
      .skills-container {
        .skills-category {
          > div {
            zoom: 90% !important;
          }
        }
        .skills-diagram {
          .circle-wrapper {
            zoom: 90% !important;
          }
        }
        .skillBar-container {
          zoom: 90% !important;
        }
      }
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1100px) {
    #skills-section {
      .skills-container {
        .skills-category {
          > div {
            zoom: 80% !important;
          }
        }
        .skills-diagram {
          .circle-wrapper {
            zoom: 80% !important;
          }
        }
        .skillBar-container {
          zoom: 80% !important;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    #skills-section {
      .skills-container {
        .skills-diagram {
          .circle-wrapper {
            zoom: 80% !important;
          }
        }
        .skillBar-container {
          zoom: 90% !important;
        }
        .skills-heading {
          margin-bottom: 30px !important;
        }
        .skills-details {
          margin: 30px 0px 15px 0px !important;
        }
        .skills-category {
          > div {
            zoom: 90% !important;
          }
          ul {
            li {
              display: inline-table !important;
              margin: 10px 7px !important;
              width: 30% !important;
            }
          }
        }
      }
    }
  }
}