*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
$skillBarHeight : 4px;
.skillBar-container{
    font-size: 12px !important;
    margin: 0px auto;
    > div {
        min-height: 40px;
    }
    &__progressBar{
        position: relative;
        width: 100%;
        height: $skillBarHeight;
        margin-top: 6px;
        border-radius: 5px;
        box-shadow: 0 0px 2px #ffffffb8;
    }
    &__title{
        height: $skillBarHeight;
        font-weight: bold;
        color: #8BC34A;
    }
    &__progressValue{
        position: relative;
        float: right;
        padding-right: 10px;
        font-weight: bold;
        font-size: 12px;
        color: #03A9F4;
        z-index: 10000;
    }
    &__progress{
        height: $skillBarHeight;
        border-radius: 5px;
        box-shadow: 2px 0 2px #555;
    }
}


@media (max-width: 720px) {
    .main{
        width: 90%;
    }
}