%flip-styling {
  #f1_container {
    position: relative;
    margin: 10px auto;
    width: 200px;
    height: 200px;
    z-index: 1;
  }
  #f1_container {
    perspective: 1000;
  }
  #f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s linear;
  }
  #f1_container:hover #f1_card {
    transform: rotateY(180deg);
  }
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    color: white;
    text-align: center;
  }
}
.header-container {
  position: fixed;
  z-index: 100;
  li {
    list-style: none;
  }

  ul {
    display: inline-flex;
    margin: 0px !important;
  }
  li.is-current {
    font-weight: bold;
    background-color: #ff5722 !important; // make consistent color as global variable
    transition: 0.5s background-color;
    button {
      color: black !important;
    }
  }
  .header {
    &__hamburger-overlay {
      width: 100%;
      position: absolute;
      height: 100%;
      background: transparent;
      transition: all 0.5s;
      z-index: 0;
    }
    &__links {
      ul {
        width: 100%;
      }
      li {
        width: 90px;
        border-radius: 3px;
        button {
          background: none;
          color: inherit;
          border: none;
          padding: 0;
          cursor: pointer;
          outline: inherit;
          padding: 10px;
          font-size: 17px;
        }
      }
    }
    &__transparentStyle {
      transition: background-color 0.5s, padding 1s, box-shadow 1s !important;
      background-color: transparent !important;
      hr {
        width: 0%;
      }
    }
    &__commonStyles {
      transition: 1s all;
    }
    &__links {
      transition: 0.3s all ease-in-out;
      padding: 20px 30px !important;
    }
  }
  .headerLinks {
    button {
      transition: 0.5s background-color;
      color: white !important;
    }
    &__profile-name {
      font-weight: bold !important;
      box-shadow: none !important;
      margin-bottom: 0px !important;
      li {
        width: fit-content;
      }
    }

    &__rightLinks {
      button {
        font-size: 15px !important;
      }
      li:hover {
        background: rgba(200, 200, 200, 0.2);
        transition: background-color 0.5s;
      }
    }
  }
}

// mobile
@media screen and (max-width: 767px) {
  .header-container {
    background-color: #9898987d !important;
    transition: margin 0.5s !important;
    ul {
      display: block !important;
    }
    li {
      margin: auto;
      width: 130px !important;
      button {
        font-weight: 1000;
      }
    }
    .header {
      &__hamburgerMenu-icon {
        position: fixed !important;
        z-index: 999;
        top: 30px;
        left: 30px;
        span {
          background: #ff7600 !important;
        }
      }
    }
    .headerLinks {
      &__rightLinks {
        li:last-child {
          margin-top: 20px;
          > button {
            font-weight: initial !important;
          }
        }
      }
    }
  }
}

// desktop
@media screen and (min-width: 768px) {
  .header-container {
    .header {
      &__scrolledStyle {
        transition: background-color 0.5s, padding 1s, box-shadow 1s !important;
        background-color: #ffffffeb !important;
        box-shadow: 1px 1px 16px;
      }
      &__links {
        transition: 0.5s all ease-in-out;
        padding: 6px 30px !important;
        button {
          color: black !important;
        }
      }
      hr {
        transition: 1s width ease-in-out;
        width: 100% !important;
        background-color: red;
        height: 2px;
        margin: 0px auto !important;
        top: 11px;
      }
    }
  }
}
